.gitignore
.env
.venv
env/
venv/
.vscode
.github

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

.DS_Store
**/.DS_Store

.coverage

dev_scripts/